<% days = (@conversation.request.end_date - @conversation.request.start_date + 1 ).to_i%>
<div class="order-summary">
  <div class="product-info">
    <!-- <div class="left"> -->
    <h4><%= link_to @conversation.request.product.name, product_path(@conversation.request.product)  %></h4>
    <!-- </div> -->
    <div class="product-photo">
      <% if @conversation.request.product.photo? %>
        <%= cl_image_tag @conversation.request.product.photo %>
      <% else %>
        <img src=<%= asset_path"no_image.png" %>>
      <% end %>
    </div>
    <p><%= link_to "Review this product", new_product_review_path(@conversation.request.product) %></p>
  </div>

  <div class="dates fa fa-calendar">
    <p><%= @conversation.request.start_date %> - <%= @conversation.request.end_date %></p>
  </div>

  <div class="price-per-day">
    <h3> <strong>£<span id="price_per_day"><%= (@conversation.request.product.price_per_day_pennies.to_i) / 100%></span></strong><span class="inline"> (per day)</span></h3>
  </div>

  <!-- Cost-Split -->
  <div class="border-bottom price-split">
    <% rental_fee = ((@conversation.request.product.price_per_day_pennies.to_i / 100) * days).round(2) %>
    <p>Rental fee (<span><%= days %></span> days):</p> <p>£<%=rental_fee%></p>
  </div>
  <div class="border-bottom price-split">
    <p>Handover fee:</p> <p>£<span id="handover_fee"><%= @conversation.request.product.handover_fee.round(2)%></span></p>
  </div>
  <div class="border-bottom price-split">
    <% service_fee = (((@conversation.request.product.price_per_day_pennies.to_i / 100) * days + @conversation.request.product.handover_fee) * 0.1).round(2) %>
    <p>Service fee:</p> <p>
    <%if current_user == @conversation.request.product.user %><span>-</span><% end %>£<%= service_fee %></p>
  </div>
  <div class="price-split">
    <% if current_user == @conversation.request.product.user %>
      <p><strong>Potential earnings:</strong></p><p><strong>£<%= (rental_fee.to_i + @conversation.request.product.handover_fee - service_fee).round(2) %></strong></p>
    <% else %>
      <p><strong>Total:</strong></p><p><strong>£<%= (rental_fee.to_i + @conversation.request.product.handover_fee + service_fee).round(2) %></strong></p>
    <% end %>
  </div>
</div>
