<% if @over_ten %>
 <%= link_to "Show Previous", '?m=all' %>
<% end %>
<div class="ui segment">
 <% @messages.each do |message| %>
  <% if message.body %>
   <% user = User.find(message.user_id) %>
   <div class="item">
    <div class="content" id="messages-container">
     <div class="header"><strong><%= user.first_name %></strong>     <%= message.message_time %></div>
      <div class="list">
       <div class="item">
        <i class="right triangle icon"></i>
         <%= render 'messages', message: message %>
      </div>
    </div>
   </div>
 </div>
 <% end %>
<% end %>
</div>
<%= form_for [@conversation, @message], html: {class: "ui reply form"}, remote: true do |f| %>
 <div class="field">
   <%= f.text_area :body, class: "form-control" %>
 </div>
 <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
 <div>
   <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
 </div>
<% end %>

<% content_for :after_js do %>
  <script>
    App['conversation_<%= @conversation.id %>'] = App.cable.subscriptions.create(
      {
        channel: 'ConversationChannel',
        conversation_id: <%= @conversation.id %> },
      {
        received: (data) => {
          let newMessage = document.createElement('p');
          newMessage.innerText = data.message;
          document.getElementById('messages-container').appendChild(newMessage);
        }
      }
    )
  </script>
<% end %>
