<div class="flex">
<div class="container-messages">
  <div class="messages">
    <% if current_user == @conversation.request.product.user%>
      <% if  @conversation.request.status == "Declined"%>
        <p>You declined this request</p>
      <% elsif @conversation.request.status == "Accepted"%>
        <p>You accepted this request</p>
      <% else %>
        <div class="pending-request">
          <p> <strong><%= @conversation.request.user.first_name%> requests your product.</strong></p>
          <p>Let him know if he can borrow it.</p>
          <div class="accept-decline-button">
            <%= link_to "Accept", product_request_path(@conversation.request.product, @conversation.request, status: "Accepted") , class: "request-button accept", method: :patch  %>
            <%= link_to "Decline", product_request_path(@conversation.request.product, @conversation.request, status: "Declined"), method: :patch, class: "request-button decline" %>
          </div>
        </div>

      <% end %>
    <% end %>
    <div id="real-messages-container">
      <% @messages.each do |message| %>
        <%= render 'message', message: message, user_is_author: message.user == current_user %>
      <% end %>
    </div>
    <%= form_for [@conversation, @message], html: {class: "ui reply form"}, remote: true do |f| %>
     <div class="flex">
       <%= f.text_area :body, class: "form-control chat-input", id: "text-box" %>
     <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
       <%= f.submit "Add Reply", class: "chat-btn btn btn-primary ui blue labeled submit icon button", id: 'message-form'%>
     </div>
    <% end %>
  </div>
</div>

  <div class="request-summary">
    <%= render "request_summary_messages" %>
    <%= render "borrower_card" %>
  </div>

</div>


<% content_for :after_js do %>
  <script>
    textBox = document.getElementById('text-box');
    textBox.addEventListener('keydown', function(event){
      if (event.key === "Enter" && event.shiftKey === false){
        var formSubmit = document.getElementById('message-form');
        formSubmit.click();
      }
    });

    scrollLastMessageIntoView();
    App['conversation_<%= @conversation.id %>'] = App.cable.subscriptions.create(
      {
        channel: 'ConversationChannel',
        conversation_id: <%= @conversation.id %> },
      {
        received: (data) => {
          //I doubt it's necessary
          if (data.current_user_id !== <%= current_user.id %>) {
            messagesContainer = document.querySelector('#real-messages-container');
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
            scrollLastMessageIntoView();
          }
        }
      }
    )
  </script>
<% end %>
