<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class=”ui segment”>
       <h3>Messages</h3>
       <div class=”ui list”>
        <div class=”item”>
          <div class="row">
            <div class="container-conversations">
            <% @conversations.each do |conversation| %>
            <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
              <% if conversation.sender_id == current_user.id %>
                <% recipient = User.find(conversation.recipient_id) %>
              <% else %>
                <% recipient = User.find(conversation.sender_id) %>
              <% end %>
              <div class="message">
                <% avatar = recipient.profile_photo? ? recipient.profile_photo : asset_path('default_avatar.png') %>
                <% if recipient.profile_photo? %>
                  <%= image_tag recipient.profile_photo, class: "avatar-large" %>
                <% else %>
                  <%= image_tag avatar, class: "avatar-large" %>
                <% end %>
                <div class="message-name">
                  <h3><%= recipient.first_name%> <%= recipient.last_name %></h3>
                  <p><%= conversation.messages.last.created_at.strftime("%b %e, %l:%M %p") %></p>
                </div>
                <div class="message-body">
                  <p><strong>Chat history with <%= recipient.first_name %> - borrowing "<%= conversation.request.product.name %>"</strong></p>
                  <p><%= conversation.messages.last.body %></p>
                </div>
                <div class="message-link">
                  <%= link_to "Message", conversation_messages_path(conversation), class: "btn btn-primary" %>
                </div>
                <div class="message-status">
                  <p class="status"><%= conversation.request.status %></p>
                  <p class="price">TBD</p>
                </div>
              </div>
            <% end %>
            <% end %>
            </div>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>
