<div class="container-conversations">
  <h1>Conversations</h1>
  <div class="message">
    <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
    <div class="message-name">
      <h3>Gab Dehan</h3>
      <p>10/07/17</p>
    </div>
    <div class="message-body">
      <p><strong>I am not sure yet!</strong></p>
      <p>
        I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?
      </p>
    </div>
    <div class="message-status">
      <p class="status pending">Pending</p>
      <p class="price">€345</p>
    </div>
  </div>
</div>


<h1>TODO: Put logic of the below into the format of the above (UI LeWagon Component)</h1>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class=”ui segment”>
       <h3>Messages</h3>
       <div class=”ui list”>
        <div class=”item”>
          <div class="row">
           <% @conversations.each do |conversation| %>
           <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
            <% if conversation.sender_id == current_user.id %>
              <% recipient = User.find(conversation.recipient_id) %>
            <% else %>
              <% recipient = User.find(conversation.sender_id) %>
            <% end %>
            <div class="col-xs-5 col-offset-xs-3">
              <div class="message-info">
                <div class="recipient-info">
                  <% avatar = recipient.profile_photo? ? recipient.profile_photo : asset_path('default_avatar.png') %>
                  <% if recipient.profile_photo? %>
                    <%= image_tag recipient.profile_photo, class: "recipient-photo" %>
                  <% else %>
                    <%= image_tag avatar, class: "recipient-photo" %>
                  <% end %>
                  <p>Rating: <%= recipient.rating %></p>
                </div>
                <div class="conversation-main">
                  <p class="conversation-info">
                    <%= conversation.request.user.first_name %> has requested <%= conversation.request.product.name %> from <%= conversation.request.product.user.first_name %>.
                  </p>
                  <p class="conversation-info">
                    From <%= conversation.request.start_date %> until <%= conversation.request.end_date %> (<%= (conversation.request.end_date - conversation.request.start_date).to_i %> days)
                  </p>
                  <p class="conversation-info">
                    This transaction is currently <strong> <%= conversation.request.status.downcase %></strong>.
                  </p>
                </div>
                <%= link_to "Message #{recipient.first_name}", conversation_messages_path(conversation), class: "btn btn-primary "%>
              </div>
            </div>
           <% end %>
          <% end %>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>
