<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class=”ui segment”>
       <h3>Messages</h3>
       <div class=”ui list”>
        <div class=”item”>
         <% @conversations.each do |conversation| %>
         <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <div class="message-info">
            <p>
              <%= conversation.request.user.first_name %> has requested <%= conversation.request.product.name %> from <%= conversation.request.product.user.first_name %>
            </p>
            <p><strong>Dates</strong></p>
            <p>
              From <%= conversation.request.start_date %> until <%= conversation.request.end_date %> (<%= (conversation.request.end_date - conversation.request.start_date).to_i %> days)
            </p>

            <p>This transaction is currently <strong> <%= conversation.request.status.downcase %></strong>.</p>
            <%= link_to "Message #{recipient.first_name}", conversation_messages_path(conversation), class: "btn btn-primary "%>
          </div>
         <% end %>
        <% end %>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>
