<%= simple_form_for([request, ureview]) do |f| %>
  <% if review.errors.any? %>
      <div class="errors-container">
        <ul>
          <% review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <%= f.input :content, required: true %>
  <%= f.input :rating, collection: 1..5, required: true %>
  <%= f.input :photo %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
