<div class="request">
  <div class="request-user-details">
    <% avatar = request.user.profile_photo? ? request.user.profile_photo : asset_path('default_avatar.png') %>
    <% if request.user.profile_photo? %>
      <%= image_tag request.user.profile_photo, class: "request-profile-photo" %>
    <% else %>
      <%= image_tag avatar, class: "request-profile-photo" %>
    <% end %>
    <p class="request-user-name"><%= request.user.first_name %> <%= request.user.last_name %></p>
    <div class="request-user-rating">
      <p>Rating: 4.6</p>
    </div>
  </div>
  <div class="request-details">
    <p class="request-info"><strong><%= request.user.first_name %></strong> wants to rent <strong><%= link_to request.product.name, product_path(request.product) %></strong> </p>
    <p class="request-date">From <strong><%= request.start_date %></strong> until <strong><%= request.end_date %></strong></p>
    <p class="request-description">"<%= request.description %>"</p>
    <%= request.user.first_name %> <%= link_to "Start a conversation", conversations_path(sender_id: current_user.id, recipient_id: request.user.id, request_id: request.id), method: 'post'%>
    <p class="request-earnings">You will earn: some money</p>
    <p>Status: <strong> <%= request.status %></strong></p>
  </div>
  <div class="request-details-2">
    <% if request.status == "Accepted" %>
      <%= link_to "Review this user!", new_user_user_review_path(request.user) %>
    <% end %>
  </div>
  <div class="request-confirm">
    <%= link_to "Accept", product_request_path(request.product, request, status: "Accepted") , class: "request-button accept", method: :patch  %>
    <%= link_to "Decline", product_request_path(request.product, request, status: "Declined"), method: :patch, class: "request-button decline" %>
  </div>
</div>
