<div class="container-show-user">

  <!-- Profile -->
  <div class="row">
    <div class="section-user-profile">
      <div class="profile-title">
        <% if @user.first_name %>
          <h1><%= @user.first_name%> <%= @user.last_name %></h1>
        <% else %>
          <h1><%= @user.email %></h1>
        <% end %>
      </div>

      <div class="flex">
        <div class="profile-photo">
          <% avatar = current_user.profile_photo? ? current_user.profile_photo : asset_path('default_avatar.png') %>
          <% if current_user.profile_photo? %>
            <%= image_tag current_user.profile_photo, id: "profile_photo" %>
          <% else %>
            <%= image_tag avatar, id: "profile_photo" %>
          <% end %>
        </div>
        <div>
          <div class="profile-details">
            <p>Email: <%= @user.email %></p>
            <p>Address: <%= @user.address %></p>
            <p>User-Rating: <%= @user.rating %></p>
            <p>About me: <%= @user.profile_text %> </p>
          </div>
          <%= link_to "Edit profile", edit_user_path, class: "edit-profile" %>
        </div>
      </div>
    </div>
  </div>



  <!-- Product Library -->
  <div class="row section-user-profile">
    <div>
      <h3>Product Library (<%= @user.products.count %>)</h3>
      <%= link_to "Add item", new_product_path, class: "btn btn-primary" %>
    </div>

    <% @user.products.each do |product| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" id="card_${hit.objectID}">
          <a class='link-to-product' href='/products/<%= product.id %>/'>
            <div class='card-body'>
              <div class='photo' style='background-image: url(<%= product.photo %>)'>
                <div class='card-avatar' style='background-image: url(<%= product.user.profile_photo %>)'></div>
              </div>
            </div>
            <div class="card-footer">
              <div class="left">
                <div class="name">
                  <span class="description"><%= product.name  %></span>
                </div>
                <div class="distance">
                </div>
              </div>
              <div class="right">
                <div class="price-per-day price">
                  £<%= (product.price_per_day_pennies.to_i / 100) %><span>/day</span>
                </div>
                <div class="review-stars kill-padding" id="stars">
                  <% if product.reviews.count == 0 %>
                    <p class="rating">no ratings yet</p>
                  <% else %>
                    <% p_counter = 0 %>
                    <% product.reviews.each { |review| p_counter += review.overall } %>
                    <% rating = p_counter.to_f / product.reviews.count.to_f %>
                    <% rating.round.to_i.times do %>
                      <i class="fa fa-star grey-star yellow-stars" aria-hidden="true"></i>
                    <% end %>
                    <span class="rating"> (<%= product.reviews.count %>)</span>
                  <% end %>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>



  <!-- Requests -->
  <div class="row">
    <div class="section-user-profile">
      <h3>Requests</h3>
      <p>Manage your product requests here!</p>
      <% if @pending_requests.count > 0 %>
        <% add_class = "btn btn-danger" %>
      <% else %>
        <% add_class = "btn btn-primary" %>
      <% end %>
      <div class="profile-requests">
        <%= link_to "Pending Requests: #{@pending_requests.count}", user_pe_requests_path(@user), class: "btn #{add_class} request-button-profile" %>
        <%= link_to "Accepted Requests: #{@accepted_requests.count}", user_ac_requests_path(@user), class: "btn btn-primary request-button-profile" %>
        <%= link_to "Requests you've made: #{@user.requests.count}", product_requests_path(@user), class: "btn btn-primary request-button-profile"  %>
      </div>

    </div>
  </div>


  <!-- Calendar -->
  <div class="row">
    <h3>Lending calendar</h3>
    <p>Here you find all the rental times for all your products.</p>
    <div id="calendar"></div>
  </div>
</div>




<% content_for(:after_js) do %>

  <script>

  // calendar with all lending times for all products
    var array_product_ids_js = <%= escape_javascript current_user.products.all.ids.to_json %>
    var product_links = []

    array_product_ids_js.forEach(function (value) {
        product_links.push('/products/' + value + '.json');
    })

    $('#calendar').fullCalendar({
      eventSources: product_links,
    });

  </script>

<% end %>
