<h1>Profile page</h1>
<ul>
  <li> First Name: <%= current_user.first_name %> </li>
  <li> Last Name: <%= current_user.last_name %> </li>
  <li> Mail: <%= current_user.email %> </li>
  <li> Profile Text: <%= current_user.profile_text %> </li>
  <li> Street: <%= current_user.street %> </li>
  <li> House number: <%= current_user.house_number %> </li>
  <li> Town: <%= current_user.town %> </li>
  <li> Postcode: <%= current_user.postcode %> </li>
  <li> Country: <%= current_user.country %> </li>
  <li> Phone: <%= current_user.phone %> </li>
  <li> <%= image_tag current_user.profile_photo, id: "profile_photo" %> </li>
</ul>

<p> <%= link_to "Edit", edit_user_path %> </p>

<h4>My Listed Products</h4>
<div class="container">
  <div class="row">
    <% (Product.where(user_id: 15)).each do |product|%>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= product.name %>
    </div>
    <% end %>
  </div>
</div>
