<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="profile-page">
        <div class="row">
          <div class="col-xs-3">
            <div class="profile-left">
              <div class="profile-photo">
                <% avatar = current_user.profile_photo? ? current_user.profile_photo : asset_path('default_avatar.png') %>
                <% if current_user.profile_photo? %>
                  <%= image_tag current_user.profile_photo, id: "profile_photo" %>
                <% else %>
                  <%= image_tag avatar, id: "profile_photo" %>
                <% end %>
              </div>
              <div class="profile-details">
                <p>Product Library: <%= @user.products.count %></p>
                <p>Email: <%= @user.email %></p>
                <p>Address: <%= @user.address %></p>
              </div>
            </div>
          </div>
          <div class="col-xs-9">
            <div class="profile-right">
              <div class="profile-title">
                <% if @user.first_name %>
                  <h1><%= @user.first_name%> <%= @user.last_name %></h1>
                <% else %>
                  <h1><%= @user.email %></h1>
                <% end %>
              </div>
              <div class="profile-about">
                <h3>About Me</h3>
                <p><%= @user.profile_text %></p>
              </div>
              <div class="profile-requests">
                <h3>Requests</h3>
                <p>Manage your product requests here!</p>
                <%= link_to "Pending Requests: #{@pending_requests.count}", user_pe_requests_path(@user) %>
                <%= link_to "Accepted Requests: #{@accepted_requests.count}", user_ac_requests_path(@user) %>
                <%= link_to "Requests you've made: #{@user.requests.count}", product_requests_path(@user)  %>
              </div>
              <div class="product-library">
                <h3>Product Library</h3>
                <div class="row">
                  <% @user.products.each do |product| %>
                    <div class="product">
                      <%= link_to product.name, product_path(product) %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Edit", edit_user_path %>
</div>
