<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="profile-page">
        <div class="row">
          <div class="col-xs-3">
            <div class="profile-left">
              <div class="profile-photo">
                <% avatar = current_user.profile_photo? ? current_user.profile_photo : asset_path('default_avatar.png') %>
                <% if current_user.profile_photo? %>
                  <%= image_tag current_user.profile_photo, id: "profile_photo" %>
                <% else %>
                  <%= image_tag avatar, id: "profile_photo" %>
                <% end %>
              </div>
              <div class="profile-details">
                <p>Product Library: 7</p>
                <p>Email: isaac.k.yule@gmail.com</p>
                <p>Address: 13 boscastle road</p>
                <p>Product Library: 6</p>
              </div>
            </div>
          </div>
          <div class="col-xs-9">
            <div class="profile-right">
              <div class="profile-title">
                <h1>Isaac Yule</h1>
                <p>joined october 2017</p>
              </div>
              <div class="profile-about">
                <h3>About me</h3>
                <p>
                   My name is Trevor and I shall be your host for the duration of your stay in the Airstream. We are situated 3 kilometres outside of a small Spanish white pueblo named Alozaina, just 2000 souls, its a taste of real Spain, quiet and honest and our living location on the mountain is idyllic, peaceful and restful and far away from the humdrum world of distractions and confusion.
                </p>
              </div>
              <div class="profile-requests">
                <h3>Requests</h3>
                <%= link_to "Pending Requests:", user_pe_requests_path(@user) %>
                <%= link_to "Accepted Requests", user_ac_requests_path(@user) %>
                <%= link_to "Requests you've made", product_requests_path(@user)  %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Edit", edit_user_path %>
</div>
