<h1>Profile page</h1>
<ul>
  <li> First Name: <%= current_user.first_name %> </li>
  <li> Last Name: <%= current_user.last_name %> </li>
  <li> Mail: <%= current_user.email %> </li>
  <li> Profile Text: <%= current_user.profile_text %> </li>
  <li> Adress: <%= current_user.address %> </li>
  <li> Phone: <%= current_user.phone %> </li>

  <% avatar = current_user.profile_photo? ? current_user.profile_photo : asset_path('default_avatar.png') %>
  <% if current_user.profile_photo? %>
    <li> <%= image_tag current_user.profile_photo, id: "profile_photo" %> </li>
  <% else %>
    <li> <%= image_tag avatar, id: "profile_photo" %> </li>
  <% end %>

  <li> Pending Requests: <%= @pending_requests.count %> (<%= link_to "Pending Requests:", user_pe_requests_path(@user) %>) </li>
  <li> Accepted Requests: <%= @accepted_requests.count %> (<%= link_to "Accepted Requests", user_ac_requests_path(@user) %>) </li>
  <li> Declined Requests: <%= @declined_requests.count %> (<%= link_to "Declined Requests", user_de_requests_path(@user) %>) </li>


</ul>

<p> <%= link_to "Edit", edit_user_path %> </p>

<h4>My Listed Products</h4>
<div class="container">
  <div class="row">
    <% (Product.where(user_id: current_user.id)).each do |product|%>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= link_to product.name, product_path(product) %>
    </div>
    <% end %>
  </div>
</div>
