<div class="navbar-got-it">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-got-it-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-got-it-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Lend", new_product_path, class: "navbar-got-it-item navbar-got-it-link" %>
      <%= link_to "Borrow", products_path, class: "navbar-got-it-item navbar-got-it-link" %>
      <%= link_to "Messages", "#", class: "navbar-got-it-item navbar-got-it-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-got-it-item">
        <div class="dropdown">
          <%= image_tag "http://kitt.legot-it.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-got-it-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-got-it-dropdown-menu">
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-got-it-item navbar-got-it-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-got-it-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-got-it-dropdown-menu">
        <li> <%= link_to "Lend", new_product_path, class: "navbar-got-it-item navbar-got-it-link" %></li>
        <li><%= link_to "Borrow", products_path, class: "navbar-got-it-item navbar-got-it-link" %></li>

      </ul>
    </div>
  </div>
</div>

