<%= simple_form_for([@product, @request]) do |f| %>
  <% if @request.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @request.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.input :description, label: "Message" %>
    <%= f.hidden_field :start_date, value: @request.start_date %>
    <%= f.hidden_field :end_date, value: @request.end_date %>
    <%= form_tag orders_path do %>
    <%= hidden_field_tag 'product_id', @request.product.id %>
    <input type="hidden" name="total_price" id="total_price" value='<%= (rental_fee + @product.handover_fee + service_fee).round(2) %>'>
    <%= f.submit "Send request", class: 'btn btn-primary'%>
  <% end %>
<% end %>


