<%= simple_form_for([@product, @request]) do |f| %>
  <% if @request.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @request.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.input :description, label: "Message" %>
    <%= f.hidden_field :start_date, value: @request.start_date %>
    <%= f.hidden_field :end_date, value: @request.end_date %>

    <%= f.submit "Continue", class: 'btn btn-primary' %>
<% end %>


