<% days = (@request.end_date - @request.start_date + 1 ).to_i%>
<div class="order-summary">
  <div class="product-info">
    <!-- <div class="left"> -->
    <h4><%= @product.name %></h4>
    <!-- </div> -->
    <div class="product-photo">
      <% if @product.photo? %>
        <%= cl_image_tag @product.photo %>
      <% else %>
        <img src=<%= asset_path"no_image.png" %>>
      <% end %>
    </div>
  </div>

  <div class="dates fa fa-calendar">
    <p><%= @request.start_date %> - <%= @request.end_date %></p>
  </div>

  <div class="price-per-day">
    <h3> <strong>£<span id="price_per_day"><%= @product.price_per_day%></span></strong><span class="inline"> (per day)</span></h3>
  </div>

  <!-- Cost-Split -->
  <div class="border-bottom price-split">
    <% rental_fee = (@product.price_per_day * days).round(2) %>
    <p>Rental fee (<span><%= days %></span> days):</p> <p>£<%=rental_fee%></p>
  </div>
  <div class="border-bottom price-split">
    <p>Handover fee:</p> <p>£<span id="handover_fee"><%= @product.handover_fee.round(2)%></span></p>
  </div>
  <div class="border-bottom price-split">
    <% service_fee = ((@product.price_per_day.to_i * days + @product.handover_fee) * 0.1).round(2) %>
    <p>Service fee:</p> <p>£ <%= service_fee %></p>
  </div>
  <div class="price-split">
    <p><strong>Total:</strong></p><p><strong>£ <%= (rental_fee.to_i + @product.handover_fee + service_fee).round(2) %></strong></p>
  </div>
</div>
