<div class="container-new">

  <!-- Request Messages -->
  <div class="request-message">

    <div class="row">
      <h3>Request <%= @product.name %> from <%= @product.user.first_name %></h3>
      <p>Introduce yourself, tell <%= @product.user.first_name %> what you want the product for, and how the handover could be arranged.</p>
      <%= render 'form' %>
    </div>

  </div>

  <%= render 'request_summary' %>

</div>

<script type="text/javascript">
    var disableDates = <%= @dates.to_json.html_safe %>;
</script>
