<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-offset-3">
      <%= simple_form_for(@product) do |f| %>
        <% if @product.errors.any? %>
            <div class="errors-container">
              <ul>
                <% @product.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

        <%= f.input :name, required: true %>
        <%= f.input :description, required: true %>
        <%= f.input :photo, required: true %>
        <%= f.input :condition, required: true %>
        <%= f.input :price_per_day_pennies, label: 'Price per day (£)', required: true %>
        <%= f.input :deposit, required: true, label: 'Deposit (£)', input_html: {value: 0}%>
        <%= f.input :handover_fee, label: 'Handover Fee (£)', required: true %>
        <%= f.input :address, input_html: {value: f.object.address || current_user.address } %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>

      <%= content_for :after_js do %>
        <script>
          var userAddress = document.getElementById('product_address');
          new google.maps.places.Autocomplete(userAddress);
        </script>
      <% end %>
    </div>
  </div>
</div>
