<h1>product show page</h1>

<h3><%= @product.name %></h3>

<p>Description: <%= @product.description %></p>

<p>
  Owner: <%= @product.user["first_name"] %>
  <%= @product.user["last_name"] %>
</p>

<p>Price: <%= @product.price_per_day %></p>

<p>Deposit: <%= @product.deposit %></p>

<p>Minimum fee: <%= @product.minimum_fee %></p>

<% if @product.photo? %>
<%= cl_image_tag @product.photo %>
<% else %>
<img src=<%= asset_path"no_image.png" %>>
<% end %>

<% if policy(@product).destroy? %>
  <%= link_to "delete the product", product_path(@product), method: :delete, class: 'btn btn-primary'%>
 <% end %>


   <%= link_to "back to your dashboard", user_path(@product.user_id), class: 'btn btn-primary'%>
  <% if policy(@product).edit? %>
    <%= link_to "edit", edit_product_path, class: 'btn btn-primary' %>
  <% end %>
