<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@product.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @product.description %>
<% content_for :meta_image, cl_image_path(@product.photo) %>

<div class="container-show">

  <!-- PRODUC TINFO -->
  <div class="product-info">

    <div class="row">
      <h1><%= @product.name %></h1>
    </div>

    <div class="row">
      <div class="product-photos">
        <% if @product.photo? %>
          <%= cl_image_tag @product.photo %>
        <% else %>
          <img src=<%= asset_path"no_image.png" %>>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="description">
        <p class="title"><strong>Description</strong></p>
        <p class="margin-bottom"><%= @product.description %></p>
      </div>
      <div class="condition">
        <p class="title"><strong>Condition</strong></p>
        <p class="margin-bottom"><%= @product.condition %></p>
      </div>
    </div>

    <div class="row">
    <p class="owner"><strong>Owner</strong></p>
      <div class="owner_card">
        <p><%= @product.user["first_name"] %>
          <%= @product.user["last_name"] %></p>
        <p class="profile-text">"<%= @product.user.profile_text %>"</p>
        <% if @product.user.profile_photo? %>
          <%= cl_image_tag @product.user.profile_photo, :transformation=>[
          {:width=>350, :height=>350, :gravity=>"face", :radius=>"max", :crop=>"fill"},
          {:width=>100, :crop=>"fill"}
          ], class: "owner_card_photo" %>
        <% else %>
          <%= image_tag "default_avatar.png", class: 'avatar-profile' %>
        <% end %>
      </div>

      <!-- map -->
      <div>
        <div id="show-map" style="height: 400px"></div>
      </div>

      <!-- calendar -->
      <div>
        <% if policy(@product).destroy? || policy(@product).edit?%>
          <div id="calendar"></div>
        <% end %>
      </div>

      <!-- reviews -->
      <div class="product-reviews">
        <h3>Reviews</h3>
        <% if @product.rating.nan? %>
          <h4>Overall Rating: Not yet rated</h4>
        <% else %>
          <h4>Overall Rating: <%= @product.rating %></h4>
        <% end %>
        <%= link_to "", new_product_review_path(@product) %>
        <div id="reviews-count">
          <%= pluralize @product.reviews.size, "review" %>
        </div>
        <div id="reviews">
          <% @product.reviews.order("id desc").each do |review| %>
            <%= render 'reviews/show', review: review %>
          <% end %>
        </div>
      </div>

    </div>

    <!-- fb-share button -->
    <div class="fb-share-button" data-href="http://getitongotit.com" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fgetitongotit.com%2F&amp;src=sdkpreparse">Share</a></div>

  </div>

  <!-- Request Form -->

  <div class="request-form">

    <div class="price-per-day">
      <h3> <strong>£<span id="price_per_day"><%= (@product.price_per_day_pennies.to_i / 100) %></span></strong><span class="inline"> (per day)</span></h3>
    </div>

    <div class="stars border-bottom">
      <% if @product.rating.nan? %>
        <p>no ratings yet</p>
      <% else %>
        <% @product.rating.round.to_i.times do %>
        <i class="fa fa-star grey-star yellow-stars" aria-hidden="true"></i>
        <% end %> <span>(<%= @product.reviews.count %>)</span>
      <% end %>
    </div>

    <!-- Daterantepicker -->
    <%= form_tag new_product_request_path(@product), method: :get do %>

      <input type="text" class="form-control" name="daterange" id="daterangepicker-requestform"/>

      <!-- Cost-Split -->
      <div class="border-bottom price-split">
        <p>Rental fee (<span id="days"></span> days):</p> <p>£<span id="rental_fee"></span></p>
      </div>
      <div class="border-bottom price-split">
        <p>Handover fee:</p> <p>£<span id="handover_fee"><%= @product.handover_fee.round(2)%></span></p>
      </div>
      <div class="border-bottom price-split">
        <p>Service fee:</p> <p>£<span id="service_fee"></span></p>
      </div>
      <div class="price-split">
        <p><strong>Total:</strong></p><p><strong>£<span id="total"></span></strong></p>
      </div>
      <div>
        <% if policy(@request).create? %>
          <input type="submit" class="btn btn-lg btn-primary" id="request-button" value="Request">
          <p>You won't be charged yet</p>
        <% else %>
          <p class="own-product">This is your own product</p>
        <% end %>
      </div>

      <div class="owner_links">
        <% if policy(@product).edit? %>
          <%= link_to "Edit", edit_product_path, class: 'btn btn-primary button' %>
        <% end %>
        <% if policy(@product).destroy? %>
          <%= link_to "Delete", product_path(@product), method: :delete, class: 'btn btn-danger button'%>
        <% end %>
      </div>

    <% end %>

  </div>
  <!-- end request form -->
</div>

<% content_for(:after_js) do %>
  <script>
  //-----Facebook share button-------
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));


    var days = 1
    document.addEventListener('DOMContentLoaded', () => {

      recalculatePrices();

  // --------- Map ---------
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'show-map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });

  // --------- Daterangepicker ---------
    $('input[name="daterange"]').daterangepicker(
      {
        locale: {
          format: 'DD-MM-YYYY'
        },
        opens: "left",
        minDate: new Date(),
        autoApply: true,
        isInvalidDate: function(date) {
          let unavailable_dates = []
          <% @unavailable_dates.each do |unavailable_date| %>
            unavailable_dates.push(new Date("<%= unavailable_date %>").getTime())
          <% end %>
          return unavailable_dates.includes(date._d.getTime())
        }

      }).on('apply.daterangepicker', function(e, picker) {
        days = picker.endDate.diff(picker.startDate, 'days') + 1 ;
        recalculatePrices();
    });

      let pathName = window.location.pathname;
      let productID = pathName.match(/[\W{1}products\W{1}]\d+/)[0].substring(1)

    // --------- Calendar ---------
      $('#calendar').fullCalendar({
        events: "/products/" + productID + ".json"
      });


      var nextButton = document.getElementById('request-button');
    })

  // --------- Calcualtion of price ---------
  function recalculatePrices() {
    $("#days").text(days);

    var price_per_day = (parseInt($("#price_per_day").text()));
    var rental_fee = +((price_per_day * days).toFixed(2));
    $("#rental_fee").text(rental_fee);

    var handover_fee = (parseInt($("#handover_fee").text()));
    var service_fee = +(((rental_fee + handover_fee) * 0.1).toFixed(2));
    $("#service_fee").text(service_fee);

    var total = (rental_fee + handover_fee + service_fee)
    $("#total").text(total);

    // var total_price = document.querySelector("#total_price")
    // total_price.value = total

  }
  </script>

<% end %>

