<h1>product show page</h1>

<h3><%= @product.name %></h3>

<p><%= @product.description %></p>

<!-- <p><%# @product.user.name %></p> -->

<p><%= @product.price_per_day %></p>

<p><%= @product.deposit %></p>

<p><%= @product.minimum_fee %></p>
<!--  <%= cl_image_tag @product.photo %> -->


<%= link_to "delete the product", product_path(@product), method: :delete, class: 'btn btn-primary'%>



<%= link_to "back to your dashboard", user_path(@product.user_id), class: 'btn btn-primary'%>
<%= link_to "edit", edit_product_path, class: 'btn btn-primary' %>
