<%= simple_form_for([product, review], remote: true) do |f| %>
  <% if review.errors.any? %>
      <div class="errors-container">
        <ul>
          <% review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <%= f.input :content %>
  <%= f.input :handover %>
  <%= f.input :accuracy %>
  <%= f.input :quality %>
  <%= f.input :overall %>
  <%= f.input :photo %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
