<%= simple_form_for([product, review]) do |f| %>
  <% if review.errors.any? %>
      <div class="errors-container">
        <ul>
          <% review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <%= f.input :content, required: true %>
  <div class="review-slider-box">
    <p id="review-slider-value">3</p>
    <%= f.input :overall, input_html: { type: "range", min: "1", max: "5", value: "3", id: "review-slider" } %>
  </div>
  <%= f.input :photo %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<% content_for(:after_js) do %>
  <script>
    const slider = document.getElementById("review-slider");
    slider.addEventListener("change", event=> {
      document.getElementById("review-slider-value").innerHTML = event.target.value
    });
  </script>
<% end %>
